<a href="https://colab.research.google.com/github/NISHIKANT2000/apnacollege--demo/blob/main/Untitled1.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [4]:
SELECT salary
FROM (
  SELECT salary,
         DENSE_RANK() OVER (ORDER BY salary DESC) AS rnk
  FROM employees
)
WHERE rnk = 2;

SyntaxError: invalid syntax (ipython-input-3742099912.py, line 1)